body{
    background-color: bisque;
    height: 100vh;
    margin: 0;
}

.header{
    display: flex;
    align-items: center;
    justify-content:space-between;
    background-color: #1F2937;
    color:white;
    
}
.header-title{
    font-size: 24px;
}
.header-link{
    display:flex;
    align-items: center;
    justify-content: space-between;
}
li{
    margin:20px;
    text-decoration: none;
    list-style-type: none;
}
a{
    text-decoration: none;
    list-style-type: none;
    color:white;
}
.main-image{
    border-radius:8px;
    width:400px;
}
.main{
    display:flex;
    align-items: center;
    justify-content: center;
    background-color: #1F2937;
    color:white;
    gap:32px;
    padding:30px;
}
.main-left{
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding:20px;
}
.main-title{
    font-size: 48px;
    font-weight: bold;
}
.text{
    font-size: 18px;
    color:#b8b8b8;
    
}
.container{
    background-color: white;
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.container-title{
    color:black;
}
.image_info{
    border-radius:8px;
    width:200px;
    border: blue;
}
.imageInfo{
    display:flex;
    margin:20px;
    gap:60px;
    padding:30px;
}
.info{
    width:200px;
    
}
.quote-container{
    background-color: #b8b8b8;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding:40px;
}
.quote,.container-title{
    font-size: 36px;
    color:#1F2937
}
.quote-person{
    margin-left: 80px;
}
.footer{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1F2937;
    padding:16px;
}
.footer-copyright{
    color:white;
    font-size: 16px;;
}
.box{
    display: flex;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
}
.container-signup{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 540px;
    height: 100px;
    border-radius: 10px;
    margin:20px;
    gap: 16px;
    padding: 16px;
    background-color: rgb(104, 132, 255);
    gap:50px;
}
.signup{
    cursor: pointer;
    padding: 8px 16px;
    border-radius: 8px;
    background-color: rgb(104, 132, 255);
    
}
.text-top{
    color:rgb(255, 255, 255);
    font-size: 30px;
}
.text-bottom{
    color:rgb(255, 255, 255);
    font-size: 14px;
}